
<div class="page_layout">
  <div class="cards_list">
    <% @game.characters.each do |char| %>
      <div class="my_card">
        <div class="char-card" style="">
          <div class="image_wrapper"><img class="imagesizer"src= <%= "#{char.image_url}" %> alt=""></div>
          <p><%= "#{char.name}" %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>


<div class="question_form">
  <h1>Ask a Question or Guess Who?</h1>
  <%= form_for @game_question do |f| %>
    <%= f.collection_select :question_id, @question_set, :id, :question %>
    <%= f.hidden_field :game_id, value: @game.id %>
    <%= f.submit "submit question" %>
   <% end %>


 <%= form_for @game, {method: "patch"} do |f| %>
 <%= f.collection_select :picked_character, @game.characters, :id, :name, {prompt: "Select one"} %>
 <%= f.submit "guess who" %>
 <% end %>

</div>
