<%= form_for @player do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <p>What colour is your hair?</p>
  <%= f.collection_select :hair_colour_id, HairColour.all, :id, :colour, {prompt: "Select your hair colour"} %><br>
  <p>What colour are your eyes?</p>
  <%= f.collection_select :eye_colour_id, EyeColour.all, :id, :colour, {prompt: "Select your eye colour"} %><br>
  <p>Do you wear glasses?</p>
  <%= f.collection_select :glasses, Player.glasses, :to_s, :to_s, {prompt: "Do you wear glasses?"} %><br>
  <p>Do you have facial hair?</p>
  <%= f.collection_select :facial_hair, Player.facial_hair, :to_s, :to_s, {prompt: "Do you have facial hair?"} %><br><br>
  <%= f.hidden_field :alive, value: "yes" %>
  <%= f.hidden_field :top_score, value: "0" %>
  <%= f.submit %>
<% end %>
