<h1>New Player</h1>
<%= form_for @player, :url => '/signup' do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.hidden_field :top_score, value: "0" %><br><br>
  <h2>Profile Information:</h2>
  <p>What is your gender?</p>
  <%= f.collection_select :gender, Characteristic.gender, :id, :characteristic_name, {prompt: "Select one"} %><br>
  <p>What colour are your eyes?</p>
  <%= f.collection_select :eye_colour, Characteristic.eye_colours, :id, :characteristic_name, {prompt: "Select your eye colour"} %><br>
  <p>What colour is your hair?</p>
  <%= f.collection_select :hair_colour, Characteristic.hair_colours, :id, :characteristic_name, {prompt: "Select your hair colour"} %><br>
  <p>Do you wear glasses?</p>
  <%= f.collection_select :glasses, Characteristic.glasses, :id, :characteristic_name, {prompt: "Select one"} %><br>
  <p>Do you have facial hair?</p>
  <%= f.collection_select :facial_hair, Characteristic.facial_hair, :id, :characteristic_name, {prompt: "Select one"} %><br>
  <%= f.hidden_field :alive, value: "22" %>
  <p>Are you wearing a hat in your profile photo?</p>
  <%= f.collection_select :wears_hat, Characteristic.wears_hat, :id, :characteristic_name, {prompt: "Select one"} %><br>
  <p>What is your occupation?</p>
  <%= f.collection_select :occupation, Characteristic.occupation, :id, :characteristic_name, {prompt: "Select one"} %><br><br>
  <%= f.submit %>
<% end %>
